
.advices #page_content { padding-bottom: 0; }

body.advices #advices_btn_container {display: none;}

.advices .content_header {
	margin-bottom: 0;
}

	.advices .content_header header {
		width: 94%;
		position: absolute;
		top: 50%;
		left: 3%;
		z-index: 20;
		-webkit-transform: translate(0,-50%);
		   -moz-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			 -o-transform: translate(0,-50%);
				transform: translate(0,-50%);
	}
		.advices .content_header header .subtitle {
			width: 100%;
			margin: 20px 0 0 0;
			position: absolute;
			top: 100%;
			left: 0;
			font-size: 18px;
			font-weight: bold;
			color: #FFF;
		}

.advices .goto_btn {
    margin: 0 0 20px 0;
    -webkit-transform: translate(0,-50%);
       -moz-transform: translate(0,-50%);
    	-ms-transform: translate(0,-50%);
    	 -o-transform: translate(0,-50%);
    		transform: translate(0,-50%);
}

	.advices .goto_btn img {
	    margin: 0 auto;
	    display: block;
	}

.advices #hours_section {
	padding-top: 50px;
	padding-bottom: 90px;
}
	.advices #hours_section .title {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
		color: #DE5558;
	}

	.advices #hours_section .intro {
		max-width: 890px;
		margin-right: auto;
		margin-left: auto;
		font-size: 18px;
	}

	.advices #hours_graphs {
		font-weight: bold;
		color: #4E76A4;
	}
		.advices #hours_graphs h4 {
			margin: 0 0 10px 0;
			font-weight: bold;
		}
		.advices #hours_graphs figure {
			margin: 45px 0 0 0;
			display: inline-block;
			vertical-align: top;
		}
			.advices #hours_graphs figure img {
				width: 418px;
				margin-bottom: 35px;
				display: block;
			}

.advices #arriving_section {
	padding-top: 90px;

    > .title { color:var(--color-red); }

    & + .order_info_widget  {
        padding-top: 1em;
    }

    .intro { 
        max-width: 550px;
        margin-right: auto;
        margin-left: auto;
        font-size: 18px;
        line-height: 1.2;
    }

    .intro_2 {
        
        max-width: 400px;
        margin: 50px auto 0;

        img {
            width: 52px;
            height: auto;
        }

        .title {
            font-size: 26px;
            line-height: 1.1;
            margin: 0;
            text-transform: uppercase;
        }

        a {
            text-decoration: underline;
            text-transform: lowercase;
            color: #000;
            display: inline-block;
            margin-top: 1.5em;
        }

        p:last-child {
            margin: 4em 0 0;
        }
    }


}


/* .advices #arriving_steps {
    padding-top: 35px;
    margin-bottom: 35px;
    counter-reset: ordering-steps;
} */

    .advices .arriving_steps {
		margin: 70px auto 35px;
        padding-top: 30px;
		overflow: hidden;
		counter-reset: ordering-steps;
		text-align: center;
        font-size: 20px;

        .title-wrap {

            .title-img {
                display: block;
                margin: 0 auto 20px;
                max-width: 85px;
                max-height: 100px;

                @media (min-width: 1200px) { 
                    margin: 0 40px;
                }
            }
            
            .title {
                margin: 0;
            }

            @media (min-width: 1200px) {
                display: flex;
                align-items: center;
            }
        }
        
        @media (min-width: 1200px) {
            float: left;
            width: 50%;
            box-sizing: border-box;
        }

        ol {
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 18px;
                        
            @media (min-width: 768px) {
                display: flex;
                flex-wrap: wrap;
                padding-left: 2%;
                padding-right: 2%;
                align-items: flex-start;
                align-content: flex-start;
            }

            @media (min-width: 1200px) {
                font-size: 20px;
                display: block;
                margin-top: 100px;
            }
        
            li {
            
                padding: 0;
                margin: 50px auto 0;
                display: inline-block;
                vertical-align: top;
                position: relative;
                counter-increment: ordering-steps;
                text-align: left;
                box-sizing: border-box;
                text-align: center;
                font-size: 1em;

                @media (min-width: 1200px) {
                    display: block;
                }

                img {
                    position: relative;
                    width: 75px;
                    display: inline-block;
                    vertical-align: top;
                    margin-bottom: 20px;
                }

                > div {
                    text-align: left;
                    max-width: 450px; 
                    margin: 0 auto;
                    position: relative;
                    padding-left: 3.5em;
                    display: inline-block;

                    &::before {
                        content: counter(ordering-steps)". ";
                        line-height: 1.2;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -0.25em;
                        z-index: 10;
                        -webkit-transform: translate(13px,0);
                            -moz-transform: translate(13px,0);
                            -ms-transform: translate(13px,0);
                                -o-transform: translate(13px,0);
                                transform: translate(13px,0);
                        font-size: 3em;
                        font-weight: bold;
                        color: #DE5558;
                    }
                }

                &.step_1 {
                    img {
                        visibility: hidden;
                    }
                }
            
                /* @media (min-width: 768px) {
                    width: 50%;
                    display: block;
                    padding-left: 0;

                    font-size: 20px;
                }
                @media (min-width: 1200px) {
                    
                    font-size: 22px;
                    width: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                    margin-top: 75px;

                    img {
                        margin-bottom: 20px;
                    }
                
                }

                @media (min-width: 1400px) {

                    img {
                        display: block;
                        width: 120px;
                        position: absolute;
                    }

                    > div::before {
                        transform: translate(35px, -70%);
                    }
                    
                } */
            
                h4 {
                    line-height: 1;
                    margin: 0 0 8px 0;
                    font-size: 1.2em;
                    font-weight: 300;
                    text-transform: uppercase;
                }

                p { 
                    line-height: 1.2;
                    margin: 1em 0 0; 
                    font-size: 1em;
                }

                a {
                    text-decoration: underline;
                    color: #000;
                }

                
            } // li		

        } // ol

        &-red {
            border-right: 1px dashed #979797;
            margin-left: -1px;

            .title-wrap {
                justify-content: flex-end;

                .title-img {
                    order: 2;
                }
            }
        }
        &-blu {

            ol li > div::before {color: var(--color-blue);}

            .title-wrap {
                justify-content: flex-start;
            }
        }

    } // #arriving_steps

/* @media only screen and (max-width: 1440px){
	.advices #arriving_steps {
		width: auto;
		margin-left: -9%;
	}
}
 */


/* @media only screen and (max-width: 1200px){

	.advices #arriving_steps { margin-left: -3%; }
		.advices #arriving_steps li {
			width: 30%;
			padding-top: 30px;
			margin-left: 18%;
		}

			.advices #arriving_steps li:before {
				-webkit-transform: translate(-8px,0);
				   -moz-transform: translate(-8px,0);
					-ms-transform: translate(-8px,0);
					 -o-transform: translate(-8px,0);
						transform: translate(-8px,0);
			}

			.advices #arriving_steps li.step_1 img 
			,.advices #arriving_steps li.step_4 img 
			{
				margin-right: 20px;
				position: absolute; 
				left: auto;
				right: 100%;
				top: 80px;			
			}

} */

@media only screen and (max-width: 680px){

	.advices .goto_btn img { max-width: 70px; }

	.advices #hours_section {
		padding-top: 0;
		padding-bottom: 0;
		text-align: left;
	}

		.advices #hours_section .title { max-width: none; }

		.advices #hours_graphs { text-align: center; }

			.advices #hours_graphs figure { display: block; }
				.advices #hours_graphs figure img { 
					width: 100%;
					max-width: 418px;
					margin-right: auto;
					margin-left: auto;
					display: block; 
				}

	.advices #hours_section .intro
	,.advices #arriving_section .intro
	{
		max-width: none;
		font-size: 15px;
	}


	/* .advices #arriving_section { */
	/* 	padding-top: 25px; */
	/* 	text-align: left; */
	/* } */

	/* .advices #arriving_steps { margin-left: 0; } */
	/* 	.advices #arriving_steps li {  */
	/* 		width: auto;  */
	/* 		max-width: 270px; */
	/* 		padding-top: 21px; */
	/* 		margin-left: auto; */
	/* 		margin-right: auto; */
	/* 		display: block; */
	/* 		position: relative; */
	/* 		left: 55px; */
	/* 	} */

	/* 		.advices #arriving_steps li:before { font-size: 40px; } */

	/* 		.advices #arriving_steps li h4 { font-size: 20px; } */

	/* 		.advices #arriving_steps li.step_1 img { top: 54px; } */
	/* 		.advices #arriving_steps li.step_2 img  */
	/* 		,.advices #arriving_steps li.step_3 img  */
	/* 		,.advices #arriving_steps li.step_5 img  */
	/* 		{ top: 30px; } */
	/* 		.advices #arriving_steps li.step_4 img { top: 29px; } */
	

}
@media only screen and (max-width: 450px){
	/* .advices #arriving_steps li {
		left:0; 
	}
	.advices #arriving_steps li img{
		display: none;
	} */
}
