
@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro/cerapro-thin-webfont.woff2') format('woff2'),
         url('/fonts/cera-pro/cerapro-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro/cerapro-light-webfont.woff2') format('woff2'),
         url('/fonts/cera-pro/cerapro-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro/cerapro-regular-webfont.woff2') format('woff2'),
         url('/fonts/cera-pro/cerapro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro/cerapro-medium-webfont.woff2') format('woff2'),
         url('/fonts/cera-pro/cerapro-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro/cerapro-bold-webfont.woff2') format('woff2'),
         url('/fonts/cera-pro/cerapro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Cera Pro';
    src: url('/fonts/cera-pro/cerapro-black-webfont.woff2') format('woff2'),
         url('/fonts/cera-pro/cerapro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}
