
.story #page_content { padding-top: 185px; }

.story .signature {
	margin: 0;
	padding-left: 15px;
	position: relative;
	font-size: 23px;
	font-weight: bold;
}
	.story .signature span { 
		display: block;
		position: absolute;
		top: 5px;
		left: 0;
	}
	.story .signature img { 
		width: 248px; 
		mix-blend-mode: multiply;
	}

.story #timetravel_section { position: relative; }
	.story #timetravel_section .page_title { 
		width: 94%;
		position: absolute;
		left: 3%;
		top: 89px;
		z-index: 30;
		text-align: center; 
	}

	.story #timetravel_section .intro 
	,.story #timetravel_section .signature
	{ 
		margin-left: 220px;
		position: absolute;
		left: 50%;
	}
	.story #timetravel_section .intro { 
		font-size: 23px; 
		top: 250px;
	}
	.story #timetravel_section .signature { top: 413px; }
	.story #timetravel_section .portrait { 
		margin: 0; 
		position: relative;
	}
		.story #timetravel_section .portrait.cloned { 
			width: 94%;
			position: absolute;
			left: 3%;
			bottom: 0;
			z-index: 40;
		}
		.story #timetravel_section .portrait img { display: block; }
			.story #timetravel_section .portrait img.photo { 
				max-width: 317px;
				margin: 0 auto;
				position: relative;
				right: 56px;
				z-index: 40;
			}
			.story #timetravel_section .portrait img.shape { 
				position: absolute;
				bottom: 0;
			}
			.story #timetravel_section .portrait img.shape.shape1 { 
				right: 50%;
				-webkit-transform: translate(-140px,0);
				   -moz-transform: translate(-140px,0);
					-ms-transform: translate(-140px,0);
					 -o-transform: translate(-140px,0);
						transform: translate(-140px,0);
				z-index: 10;
			}
			.story #timetravel_section .portrait img.shape.shape2 { 
				right: 50%;
				-webkit-transform: translate(173px,0);
				   -moz-transform: translate(173px,0);
					-ms-transform: translate(173px,0);
					 -o-transform: translate(173px,0);
						transform: translate(173px,0);
			}


.story #mission_section {
	padding-top: 110px;
	padding-bottom: 110px;
	position: relative;
	font-size: 18px;
}
	.story #mission_section:before {
		content: '';
		width: 100%;
		height: 670px;
		max-height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(/imgs/layout/apici.svg), url(/imgs/layout/bg.png);
		background-repeat: no-repeat,repeat;
		background-position: 50% 67px, 0 0;
	}

	.story #mission_section > * {
		position: relative;
		z-index: 10;
	}
	.story #mission_section .intro { margin: 0 0 80px 0; }


	.story #mission_section .video_link { 
		max-width: 720px;
		margin: 0 auto;
		color: #000; 
	}
		.no-touch .story #mission_section .video_link:hover { text-decoration: none; }

	.story #mission_section .yt_link { 
		width: 100%;
		height: 100%;
		display: none; 
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.story #mission_section .fancybox_link { display: block; }
		.story #mission_section .fancybox_link figure { 
			margin: 0; 
			position: relative;
		}
			.story #mission_section .fancybox_link figure img { 
				width: 100%;
				display: block;
			}
			.story #mission_section .fancybox_link figure figcaption { 
				width: 156px;
				height: 156px;
				border-radius: 50%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				   -moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					 -o-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
				font-size: 38px;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
				color: #FFCA00;
				background: #FFF;
				cursor: pointer;
				transition: all .5s
			}
				.no-touch .story #mission_section .fancybox_link:hover figure figcaption 
				,.no-touch .story #mission_section .yt_link:hover + .fancybox_link figure figcaption 
				{ 
					color: #FFF;
					background: #DE5558;
				}
				.story #mission_section .fancybox_link figure figcaption span { 
					width: 100%;
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translate(0,-50%);
					   -moz-transform: translate(0,-50%);
						-ms-transform: translate(0,-50%);
						 -o-transform: translate(0,-50%);
							transform: translate(0,-50%);
				}


.story .story_section {
	max-width: 1440px;
	margin: 0 auto;
	font-size: 18px;
}

	.story .story_section .text { 
		width: 43.71%;
		padding-top: 26px;
		padding-left: 20px;
		margin-bottom: 80px;
		position: relative;
		box-sizing: border-box;
		background: url(/imgs/layout/apici.svg) 0 0 no-repeat;
	}
		.story .story_section.mode1 .text { float: right; }
		.story .story_section.mode2 .text { float: left; }

	.story .story_section figure { 
		margin: 0; 
		position: relative;
		box-sizing: border-box;
	}

		.story .story_section figure img { max-width: 100%; }
		.story .story_section figure .shape { 
			position: absolute; 
			mix-blend-mode: multiply;
		}

		.story .story_section figure.img1 { 
			width: 50%; 
			margin-bottom: 100px; /* mi serve per evitare il rientro delle immagini successive */
		}
			.story .story_section.mode1 figure.img1 { float: left; }
			.story .story_section.mode2 figure.img1 { float: right; }

		.story .story_section figure.img2 { 
			width: 25%; 
			float: left;
		}

			.story .story_section.mode1 figure.img2 { margin-left: 7.9%; }
	
	
	.story #story_1 .img1 .shape {
		width: 41.45%;
		left: -11.9%;
		bottom: -4.67%;
	}

	.story #story_1 .img2 { width: 22.5%; }
	.story #story_1 .img2 .shape {
		width: 94.62%;
		right: -44.44%;
		top: -12.18%;
	}

	.story #story_2 .text { 
		padding-left: 0;
		padding-top: 0;
		margin-bottom: 180px;
		background: none;
	}
	.story #story_2 .img1 { margin-top: 109px; }

	.story #story_3 .img1 { margin-top: 115px; }
		.story #story_3 .img1 .shape { 
			width: 75.64%;
			left: -8.06%;
			bottom: -1.83%;
		}

		.story #story_3 .img2 .shape1 { 
			width: 51.61%;
			left: 10.32%;
			bottom: 19.35%;
		}

		.story #story_3 .img2 .shape2 { 
			width: 74.84%;
			left: 20.64%;
			bottom: -18.39%;
		}

	.story #story_4 { margin-top: 100px; }
		.story #story_4 .img1 { margin-top: 45px; }
			.story #story_4 .img1 .shape { 
				width: 92.9%;
				left: 5.64%;
				bottom: -16.67%; 
			}

	.story #story_5 { 
		margin-top: 140px; 
		position: relative;
	}
		.story #story_5 .img1 { margin-top: 10px; }
			.story #story_5 .img1 .shape { 
				width: 74.19%;
				left: 14.19%;
				top: -11.17%; 
			}

		.story #story_5 .signature {
			position: absolute;
			bottom: 0;
			right: 50%;
		}


@media only screen and (max-width: 1200px){

	.story .story_section figure.img1 { margin-bottom: 200px; }
	.story #story_2 .text { margin-bottom: 80px; }

	.story .story_section figure.img2 {
		width: auto;
		max-width: 42.1%;
	}

	.story #story_5 .img1 { margin-bottom: 30px; }
	.story #story_5 .img2 {
		margin-left: 0;
		clear: left;
	}

	.story #story_5 .signature {
		margin-left: 7.9%;
		right: auto;
		left: 50%;
	}

}

@media only screen and (max-width: 1024px){

	.story #timetravel_section .intro
	, .story #timetravel_section .signature
	{
		margin-left: 0;
		left: auto;
		right: 3%;
		top: auto;
		bottom: 0;
		z-index: 30;
	}

		.story #timetravel_section .intro { bottom: 140px; }

	.story #timetravel_section .portrait img.shape.shape2 {
		-webkit-transform: translate(140px, 0);
		   -moz-transform: translate(140px, 0);
			-ms-transform: translate(140px, 0);
			 -o-transform: translate(140px, 0);
				transform: translate(140px, 0);
	}

	.story .story_section.mode1 .text 
	,.story .story_section.mode2 .text 
	{ 
		width: auto;
		margin-top: 0;
		margin-bottom: 50px;
		float: none;
		right: 20px;
	}
		.story .story_section figure.img1 { margin-bottom: 50px; }
			.story .story_section.mode2 figure.img1 { float: left; }
		.story .story_section figure.img2 { 
			width: 42.1%;
			margin-left: 7.9%; 
		}


	.story #story_1 .img2 {
		width: 42.1%;
		max-width: 279px;
	}


	.story #story_2 .text {
		margin-bottom: 50px;		
		right: 0;
	}

		.story #story_2 .img1 { margin-top: 0; }


	.story #story_3 .img1 { margin-top: 0; }
	.story #story_3 .text { right: 20px; }
	.story #story_4 { margin-top: 0px; }
		.story #story_4 .text { right: 20px; }
		.story #story_4 .img1 { margin-top: 0; }

	.story #story_5 {
		width: 100%; 
		margin-top: 0;
	}
		.story #story_5 .text { right: 20px; }
		.story #story_5 .img1 { margin-top: 0; }
		.story #story_5 .img2 { 
			margin-left: 7.9%;
			clear: none; 
		}

	.story #story_5 .signature {
		clear: left; 
		float: right;
		position: relative;
		left: 0;
	}
}


@media only screen and (max-width: 768px){

	.story #timetravel_section { padding-bottom: 120px; }
	.story #timetravel_section .portrait.cloned { bottom: 120px; }
	.story #timetravel_section .page_title {
		top: 78px;
		text-align: left; 
	}

		.story #timetravel_section .portrait img.photo {
			right: 0;
			float: right;
		}

	.story #timetravel_section .intro {
		left: 50%;
		bottom: 0;
		-webkit-transform: translate(-50%,0);
		   -moz-transform: translate(-50%,0);
			-ms-transform: translate(-50%,0);
			 -o-transform: translate(-50%,0);
				transform: translate(-50%,0);
		text-align: center;
	}
	.story #timetravel_section .signature { display: none; }
}


@media only screen and (max-width: 680px){

	.story #page_content { padding-top: 120px; }

	.story #timetravel_section .page_title { 
		max-width: 260px;
		top: 31px; 
	}

	.story #timetravel_section { padding-bottom: 100px; }
	.story #timetravel_section .portrait.cloned { bottom: 100px; }
	.story #timetravel_section .intro { font-size: 15px; }

	.story #timetravel_section .portrait img.photo {
		max-width: 169px;
		right: -4%;
	}

	.story #timetravel_section .portrait img.shape.shape1 {
		width: 175px;
		right: 0;
		-webkit-transform: translate(-91.67%,0);
		   -moz-transform: translate(-91.67%,0);
			-ms-transform: translate(-91.67%,0);
			 -o-transform: translate(-91.67%,0);
				transform: translate(-91.67%,0);
	}
	.story #timetravel_section .portrait img.shape.shape2 {
		width: 380px;
		right: 0;
		-webkit-transform: translate(18.9%,0);
		   -moz-transform: translate(18.9%,0);
			-ms-transform: translate(18.9%,0);
			 -o-transform: translate(18.9%,0);
				transform: translate(18.9%,0);
	}



	.story #mission_section {
		padding: 84px 0 0 0;
		font-size: 15px;
		text-align: left;
	}

		.story #mission_section:before { background-position: 50% 43px, 0 0; }
		.story #mission_section .intro { 
			padding: 0 3%;
			margin-bottom: 35px; 
		}

	.story #mission_section .yt_link { display: block; }
	.story #mission_section .fancybox_link figure figcaption {
		width: 94px;
		height: 94px;
		font-size: 26px;
	}


	.story .story_section { font-size: 15px; }
		.story .story_section.mode1 figure.img1 {
			width: auto;
			float: none;
		}

		.story .story_section.mode1 figure.img2 {
			width: auto;
			max-width: none;
			margin-left: 0;
			float: none;
		}

		.story #story_1 .text { 
			padding-left: 0;
			margin-bottom: 70px;
			right: 0;
			background: none; 
		}
		.story #story_1 .img1 { display: none; }
		.story #story_1 .img2 {
			width: auto;
			margin: 0;
			float: none;
		}
	
	.story #story_2 { 
		padding-left: 0;
		padding-right: 0;
	}

		.story #story_2 .text { 
			padding-left: 3%;
			padding-right: 3%;
		}

		.story #story_2 .img1 { 
			width: auto;
			float: none;
		}
		.story #story_2 .img2 { display: none; }


	.story #story_3 {
		display: flex;
		flex-direction: column;
	}
		.story #story_3 .img1 { 
			width: 80.5%;
			align-self: flex-end;
		}
		.story #story_3 .text { 
			padding-top: 0;
			padding-left: 0;
			margin-bottom: 70px;
			right: 0;
			background: none; 
			order: 1
		}
		.story #story_3 .img2 { order: 3; }


		.story #story_4 .text {
			margin-top: 50px;
			margin-bottom: 100px;
			padding-top: 0;
			padding-left: 0;
			right: 0;
			background: none;
		}

		.story #story_4 .img1
		,.story #story_4 .img2
		{
			display: none;
		}


	.story #story_5 {
		padding: 0;
		display: flex;
		flex-direction: column;
	}
		.story #story_5 .text { 
			padding: 0 3%;
			right: 0;
			background: none; 
			order: 1
		}
		.story #story_5 .img2 { display: none; }

		.story #story_5 .signature {
			margin-left: 3%;
			order: 2;
		}

}