
.videogallery #page_content {
	padding-top: 155px;
	position: relative;
}
	.videogallery #page_content:before {
		content: '';
		width: 100%;
		height: 200px;
		height: calc(100% - 155px);
		max-height: 1000px;
		display: block;
		position: absolute;
		left: 0;
		top: 155px;
		z-index: 1;
		background: url(/imgs/layout/bg.png);
	} 


.videogallery #videos_section {
	max-width: 720px;
	padding-top: 95px;
	margin: 0 auto;
	position: relative;
	z-index: 20;
	font-size: 18px;
	text-align: center;
}
	.videogallery #videos_list li { 
		margin-top: 80px; 
		position: relative;
	}

	.videogallery #videos_list li a { 
		text-align: left;
		color: #000; 
	}
		.no-touch .videogallery #videos_list li a:hover { text-decoration: none; }

	.videogallery #videos_list li .yt_link { 
		width: 100%;
		height: 100%;
		display: none; 
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.videogallery #videos_list li .fancybox_link { display: block; }
		.videogallery #videos_list li .fancybox_link figure { 
			margin: 0; 
			position: relative;
		}
			.videogallery #videos_list li .fancybox_link figure img { 
				width: 100%;
				display: block;
			}
			.videogallery #videos_list li .fancybox_link figure figcaption { 
				width: 156px;
				height: 156px;
				border-radius: 50%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%,-50%);
				   -moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					 -o-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
				font-size: 38px;
				font-weight: 900;
				text-align: center;
				text-transform: uppercase;
				color: #FFCA00;
				background: #FFF;
				cursor: pointer;
				transition: all .5s
			}
				.no-touch .videogallery #videos_list li .fancybox_link:hover figure figcaption 
				,.no-touch .videogallery #videos_list li .yt_link:hover + .fancybox_link figure figcaption 
				{ 
					color: #FFF;
					background: #DE5558;
				}
				.videogallery #videos_list li .fancybox_link figure figcaption span { 
					width: 100%;
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					-webkit-transform: translate(0,-50%);
					   -moz-transform: translate(0,-50%);
						-ms-transform: translate(0,-50%);
						 -o-transform: translate(0,-50%);
							transform: translate(0,-50%);
				}
	.videogallery #videos_list li .fancybox_link h4 { margin: 8px 0 0 0; }

@media only screen and (max-width: 680px){

	.videogallery.negative #page_content { padding-top: 0; }
		.videogallery #page_content:before { 
			height: 100%;
			top: 0;
		}
	.videogallery #videos_section1 { padding-top: 160px; }
	
	.videogallery #videos_list li .yt_link { display: block; }
	.videogallery #videos_list li .fancybox_link figure figcaption {
		width: 94px;
		height: 94px;
		font-size: 26px;
	}


}