
#logo 
,#logo a 
{ overflow: visible; }
	
	#logo a:before {
		content: '';
		width: 146px;
	    height: 151px;
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 10;
		background: url(/imgs/layout/AIPIOPPI-logo-50anni.svg) 0 0 / cover no-repeat;
		transition: opacity .5s;
	} 
	#logo a:after { opacity: 1; }
	#logo.onscroll a:before { opacity: 0; }

@media only screen and (max-width: 1024px){

	#logo a:before {
		width: 117px;
		height: 120.9px;
	}

}